<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="application/xhtml+xml; charset=UTF-8" http-equiv="Content-Type" />
<title>Topics</title>

<script type="text/javascript">
<?php
#ifdef DEBUG
error_reporting(-1);
ini_set("display_errors", 1);
ini_set("display_startup_errors", 1);
#endif

$GLOBALS["topics"] = Array();
#include "topics.cbagx"

function save($filepath, $data) {
  if (isset($data["username"]) === FALSE)
    return FALSE;
  $u = trim($data["username"]);

  if (preg_match("/[^\s]+/", $u) === FALSE)
    return FALSE;

  $f = fopen($filepath, "a");
  if ($f === FALSE)
    return FALSE;

  if (fprintf($f, "%d %s %s", time(), $_SERVER["REMOTE_ADDR"], $u) < 0) {
    fprintf($f, "\n");
    fclose($f);
    return FALSE;
  }

  foreach ($GLOBALS["topics"] as $t)
    if (isset($data[$t]) && $data[$t] === "checked")
      if (fprintf($f, " %s", $t) < 0) {
        fprintf($f, "\n");
        fclose($f);
        return FALSE;
      }

  if (fprintf($f, "\n") < 0) {
    fclose($f);
    return FALSE;
  }

  if (fclose($f) === FALSE)
    return FALSE;

  return TRUE;
}

function load($filepath) {
  $f = fopen($filepath, "r");
  if ($f === FALSE)
    return FALSE;

  $es = Array();
  while (($b = fgets($f)) !== FALSE) {
    $xs = preg_split("/\s+/", $b, NULL, PREG_SPLIT_NO_EMPTY);

    $t = array_shift($xs);
    if ($t === NULL) {
      fclose($f);
      return FALSE;
    }

    $a = array_shift($xs);
    if ($a === NULL) {
      fclose($f);
      return FALSE;
    }

    $u = array_shift($xs);
    if ($u === NULL) {
      fclose($f);
      return FALSE;
    }

    $es[$u] = Array();
    foreach ($GLOBALS["topics"] as $t)
      if (array_search($t, $xs) !== FALSE)
        array_push($es[$u], $t);
  }

  if (feof($f) === FALSE) {
    fclose($f);
    return FALSE;
  }

  if (fclose($f) === FALSE)
    return FALSE;

  return $es;
}

function tally($entries) {
  $ns = Array();
  foreach ($GLOBALS["topics"] as $t)
    $ns[$t] = 0;

  foreach ($entries as $u => $ts)
    foreach ($ts as $t)
      ++$ns[$t];

  return $ns;
}

function script($filepath) {
  if (isset($_POST["username"]))
    printf("var username = \"" . $_POST["username"] . "\";\n");
  else
    printf("var username = \"\";\n");

  if (isset($_POST["save"]))
    if (save($filepath, $_POST) === FALSE)
      printf("window.alert(\"Saving failed!\");\n");

  $es = load($filepath);
  if ($es === FALSE) {
    printf("window.alert(\"Loading failed!\");\n");
    return FALSE;
  }

  if (isset($_POST["username"])) {
    $u = $_POST["username"];

    printf("var selections = {};\n");
    if (isset($es[$u]))
      foreach ($GLOBALS["topics"] as $t) {
        $s = array_search($t, $es[$u]) !== FALSE;
        printf("selections[\"%s\"] = %s;\n", $t, $s ? "true" : "false");
      }
  } else
    printf("var selections = null;\n");

  $ns = tally($es);
  printf("var totals = {};\n");
  foreach ($GLOBALS["topics"] as $t)
    printf("totals[\"%s\"] = %d;\n", $t, $ns[$t]);
}
?>

window.onload = function () {
<?php
script("topics.data");
?>

  var us = document.getElementsByName("username");
  for (var i = 0; i < us.length; ++i)
    (function (u) {
      u.value = username;
    })(us[i]);

  var d = document.getElementById("svg").getSVGDocument();
  var r = d.getElementsByTagName("svg")[0];

  var v = document.getElementById("void");
  v.style.width = r.getAttribute("width");
  v.style.height = r.getAttribute("height");

  var as = document.getElementsByTagName("area");
  for (var i = 0; i < as.length; ++i)
    (function (a) {
      var s = selections !== null ? selections[a.id] : null;

      var g = d.getElementById(a.id);
      var ps = g.getElementsByTagName("polygon");

      var t = g.getElementsByTagName("text")[0];
      t.innerHTML = totals[a.id].toString();

      var cs = document.getElementsByName(a.id);
      for (var j = 0; j < cs.length; ++j)
        (function (c) {
          if (c.type === "checkbox") {
            if (s !== null)
              c.checked = s;

            a.addEventListener("refill", function () {
              for (var k = 0; k < ps.length; ++k)
                (function (p) {
                  p.setAttribute("fill", c.checked ? "#306030" : "#102010");

                  /* These special effects are unnecessary. */
                  if (p.getAttribute("class") !== "clone") {
                    if (c.checked) {
                      var q = p.cloneNode(true);
                      q.setAttribute("class", "clone");
                      q.setAttribute("filter", "blur(16px)");
                      p.parentNode.insertBefore(q, p);
                      ++k;
                    } else
                      p.parentNode.removeChild(p.previousSibling);
                  }
                })(ps[k]);
            });

            var e = document.createEvent("Event");
            e.initEvent("refill", true, true);

            a.addEventListener("click", function () {
              c.checked = !c.checked;
              a.dispatchEvent(e);
            });

            a.dispatchEvent(e);
          }
        })(cs[j]);
    })(as[i]);
};
</script>
</head>

<body style="background-color: black; color: white; font-family: sans-serif; margin: 2ex;">
<h1>Topics</h1>
<p>Use this toy to vote on the topics you would like to study.</p>

<p>Click on the nodes to select or unselect them.
Once you are happy with your selection,
enter your username and push <em>Save</em> to store it.
If you want to edit your previous selection,
you can either enter your username and push <em>Load</em> to fetch it or
simply make a new one from scratch.
All of your selections are kept, but only the latest one remains in effect.</p>

<p>Note that there is no guarantee of privacy or data integrity,
meaning that your votes will be treated with reckless abandon.</p>

<form action="" method="post">
<div style="display: none; z-index: 0;">
#include "topics.csetx"
</div>

<h2>JyU Username</h2>
<button type="submit" name="load" value="pushed">Load</button>
<input type="text" name="username" value="" />
<button type="submit" name="save" value="pushed">Save</button>
</form>

<h2>Potential Topics</h2>
<div style="position: relative;">
<object data="topics.svg" id="svg" style="left: 0; position: absolute; top: 0; z-index: 1;" type="image/svg+xml">
SVG Object
</object>
#include "topics.cmapx"
<img alt="PNG Object" id="void" src="void.png" style="background-color: transparent !important; left: 0; position: absolute; top: 0; z-index: 2;" usemap="#topics" />
</div>
</body>
</html>
